<%= form_with url: login_path, local: true do %>
  <%= render 'shared/flash' %>
  <div class="input-group">
    <h3>Login</h3>
  </div>
  <div class="input-group">
    <%= text_field_tag :email, params[:email], placeholder: 'Email', class: 'text', required: true %>
  </div>
  <div class="input-group">
    <%= password_field_tag :password, nil, placeholder: 'Password', class: 'text', required: true %>
  </div>
  <div class="input-group">
    <button class="button">Login</button>
  </div>
<% end %>
