<%= render 'shared/flash' %>

<div class="input-group">
  <%= f.text_field :name, placeholder: 'Type', class: 'text', required: true %>
</div>

<div class="input-group">
  <button class="button"><%= button_text %></button>
</div>
